.row
  .span12.offset3
    %table.data-table
      %tr.header
        %td
          = link_to (t :direction), "/data?field=direction"
        %td
          = link_to (t :caller_id_name), "/data?field=caller_id_name"
        %td
          = link_to (t :caller_id_number), "/data?field=caller_id_number"
        %td
          = link_to (t :destination_number), "/data?field=destination_number"
        %td.w140
          = link_to (t :start_stamp), "/data?field=start_stamp"
        %td.w140
          = link_to (t :end_stamp), "/data?field=end_stamp"
        %td
          = link_to (t :duration), "/data?field=duration"
        %td
          = link_to (t :read_codec), "/data?field=read_codec"
        %td
          = link_to (t :read_rate), "/data?field=read_rate"
        %td
          = link_to (t :hangup_cause), "/data?field=hangup_cause"
      - @result.each do |row|
        %tr
          %td
            = row["direction"]
          %td
            = row["caller_id_name"]
          %td
            = row["caller_id_number"]
          %td
            = row["destination_number"]
          %td
            = row["start_stamp"]
          %td
            = row["end_stamp"]
          %td
            = row["duration"]
          %td
            = row["read_codec"]
          %td
            = row["read_rate"]
          %td
            = row["hangup_cause"]